<div class="vertical-nav" id="sidebar">
    <div class="highnav py-4 px-3 mb-4">
      <div class="media d-flex align-items-center" ><img src="/img/logo.png"  alt="..." width="65" height="50" style="margin-left: 90px;" class="mr-3 rounded-circle img-thumbnail shadow-sm"><a href="/"></a>
      </div>
    </div>
  
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">PRINCIPAL</p>
  
    <ul class="nav flex-column  mb-0">
      <li class="nav-item">
        <a href="/#home" class="nav-link text-dark font-italic bg-light">
              <i class="fi fi-rr-home"  style="margin-right: 10px;"></i>
                  Home
              </a>
      </li>
      <li class="nav-item">
        <a href="/#" class="nav-link text-dark font-italic bg-light">
          <i class="fi fi-rr-interrogation" style="margin-right: 10px;"></i>
                  Como funciona?
              </a>
      </li>
      <li class="nav-item">
        <a href="/#" class="nav-link text-dark font-italic bg-light">
          <i class="fi fi-rr-dollar" style="margin-right: 10px;"></i>
                  Planos
              </a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link text-dark font-italic bg-light" style="margin-top: 300px;">
          <i class="fi fi-rr-sign-in-alt" style="margin-right: 10px;"></i>
                  Entrar
              </a>
      </li>
    </ul>
  
  </div>