

<div class="vertical-nav bg-white" id="sidebar">
    <div class="highnav  py-4 px-3 mb-4">
      <div class="align-items-center"><img src="/img/fundoescuro.png" width="150px" height="100px" style="margin-left: 40px;" class="">
      </div>
    </div>
  
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Categorias</p>
  
    
    <ul class="nav flex-column mb-0">
        <li class="nav-item">
            <a href="/central" class="nav-link text-dark font-italic bg-light">
                <i class="fi fi-rr-book" style="margin-right: 10px;"></i>
                      Agenda
                  </a>
        </li>
        <li class="nav-item">
            <a href="/admin/articles" class="nav-link text-dark font-italic bg-light">
                <i class="fi fi-rr-edit" style="margin-right: 10px;"></i>
                      Serviços
                  </a>
        </li>
      <li class="nav-item">
        <a href="/admin/clients" class="nav-link text-dark font-italic bg-light">
            <i class="fi fi-rr-users-alt" style="margin-right: 10px;"></i>
                  Clientes
              </a>
      </li>
      <li class="nav-item">
        <a href="/admin/cars" class="nav-link text-dark font-italic bg-light">
            <i class="fi fi-rr-car" style="margin-right: 10px;"></i>
                  Carros
              </a>
      </li>
      <li class="nav-item">
        <a href="/admin/users" class="nav-link text-dark font-italic bg-light">
            <i class="fi fi-rr-user-add" style="margin-right: 10px;"></i>
                  Usuários
              </a>
      </li>
      <li class="nav-item">
        <a href="/logout" class="nav-link text-dark font-italic bg-light" style="margin-top: 70%;">
            <i class="fi fi-rr-cross" style="margin-right: 10px;"></i>
                  Sair
              </a>
      </li>
    </ul>
  
  </div>
